/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #e0e7ff, #fef9e7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    margin: 0;
    min-height: 100vh;
}
button:hover {
    background: rgba(152, 152, 152, 0.9);
}

/* 카테고리 상자 */
.menu-container {
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 1100; /* 메뉴보다 위에 위치 */
}
.menu-button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1100; /* 메뉴보다 위에 위치 */
    color: #4a4a4a; /* 버튼 색상 */
}
.menu-button:hover {
    background-color: transparent;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 검은 배경 */
    z-index: 998; /* 사이드바 아래 */
    display: none; /* 기본 숨김 */
}
.overlay.active {
    display: block;
}
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white; /* 어울리는 색상으로 변경 */
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}
.side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eaeaea;
    color: #4a4a4a;
}
.menu-close {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #4a4a4a;
    cursor: pointer;
}
.menu-close:hover {
    background-color: transparent;
}
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    color: #4a4a4a;
    transition: background-color 0.3s ease-in-out;
    font-size: 13px;
}
.menu-list li:hover {
    background-color: #dbdbdb;
}
.menu-category {
    margin-bottom: 20px;
    font-weight: bold;
}
.menu-category h4 {
    margin: 0;
    padding: 10px 10px;
    background-color: #eaeaea;
    color: #4a4a4a;
    font-size: 16px;
    cursor: default; /* 클릭 불가능하게 설정 */
    font-size: 14px;
}
.menu-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-category ul li {
    padding: 10px;
    background-color: white; /* 배경색에 어울리는 색상 */
    color: #4a4a4a;
    border-bottom: 1px solid #e6e6e6; /* 경계선 */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
}
.menu-category ul li:hover {
    background-color: #dbdbdb; /* 호버 시 색상 */
}

/* 옵션 상자 */
.option-box {
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: -10px;
}
.music-button {
    margin-right: 20px;
    float: right;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 헤더 스타일 */
.top-box {
    text-align: center;
    margin-top: 30px;
}
h1 {
    font-size: 2.0em;
    font-weight: bold;
    color: #4a4a4a;
}
.top-1 {
    font-size: 1.1em;
    margin-top: 10px;
}

/* 오늘의 색 박스 */
.description-box2 {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: left;
}
.show-box-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}
.color-box {
    width: 100%;
    max-width: 110px;
    height: 110px;
    border-radius: 8px;
    background-color: var(--random-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hash-big-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    flex-grow: 1;
}
.title {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}
.date {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-right: 15px;
    margin-bottom: 7px;
}
.name {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    margin-right: 15px;
    margin-bottom: 5px;
}
.desc4 {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    margin-right: 15px;
    margin-bottom: 7px;
}
.hash {
    font-size: 13px;
    color: #888;
    line-height: 1.4;
    margin-right: 15px;
}

/* 결과 및 설명 박스 */
.description-box1 {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}
.description-title {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
}
.color-div {
    margin-top: 15px;
    width: 100%;
    max-width: 650px;
    height: 5px;
    background: linear-gradient(to left, rgb(255, 255, 255), var(--random-color));
}
.description-1 {
    font-size: 0.9em;
    color: #777;
    margin-top: 5px;
}
.color-description {
    font-size: 1em;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
    color: #555;
}
.copy-hex-button {
    margin-top: 20px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: #dddddd;
    float: right;
}

.colab-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.colab-box {
    width: 100%;
    height: 150px;
    background: var(--random-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.colab-box:hover {
    transform: translateY(-5px);
}
.colab-info {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
.colab-color {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s;
}
.colab-color-name {
    font-weight: bold;
    margin-right: 10px;
}
.colab-color-rgb {
    margin-top: 5px;
    margin-right: 10px;
}
.colab-color-hex {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: #dddddd;
    margin-left: auto;
    margin-top: 10px;
}

.white-box,
.black-box {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}
.white-box {
    background: white;
}
.black-box {
    background: black;
}
.vs-color {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s;
    background: var(--random-color);
}
.vs-text {
    color: var(--random-color);
    margin-right: 10px;
    font-weight: bold;
}

.colab-color-2 {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s;
    background: var(--random-color);
}
